---
http_interactions:
- request:
    method: get
    uri: http://yerkee.com/api/fortune
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"eef59be1afe455375e8c8f450d9860fe"
    body:
      encoding: ASCII-8BIT
      string: '{"fortune":"Democracy is a form of government in which it is permitted
        to wonder\naloud what the country could do under first-class management.\n\t\t--
        Senator Soaper"}'
  recorded_at: Wed, 11 Dec 2019 17:40:17 GMT
- request:
    method: get
    uri: https://www.metaweather.com/api/location/2487956/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en
      Allow:
      - GET, HEAD, OPTIONS
      Content-Type:
      - application/json
      X-Cloud-Trace-Context:
      - ab0d43ce76fb8d38345a932906334854
    body:
      encoding: UTF-8
      string: '{"consolidated_weather":[{"id":6250019688546304,"weather_state_name":"Light
        Rain","weather_state_abbr":"lr","wind_direction_compass":"SE","created":"2019-12-11T15:16:16.733838Z","applicable_date":"2019-12-11","min_temp":10.94,"max_temp":17.43,"the_temp":16.36,"wind_speed":5.163518662385005,"wind_direction":146.0,"air_pressure":1017.0,"humidity":88,"visibility":6.96184283782709,"predictability":75},{"id":5686091489214464,"weather_state_name":"Heavy
        Rain","weather_state_abbr":"hr","wind_direction_compass":"S","created":"2019-12-11T15:16:19.825163Z","applicable_date":"2019-12-12","min_temp":12.370000000000001,"max_temp":15.59,"the_temp":14.465,"wind_speed":3.93477086497256,"wind_direction":184.45920396158243,"air_pressure":1018.0,"humidity":94,"visibility":6.132312296190249,"predictability":77},{"id":5382896594452480,"weather_state_name":"Light
        Rain","weather_state_abbr":[...]
